@page
@using ContosoCrafts.WebSite.Components
@model AboutModel
@{
    ViewData["Title"] = "About the Risky Biscuits Team";
}

<h1>@ViewData["Title"]</h1>

<h2>Team Members</h2>
<ul>
    <li>Andrew Shell</li>
    <li>Antonio Santana</li>
    <li>Dheeraja Malineni</li>
    <li>Sharon Leo</li>
</ul>

<h2>The Risky Biscuits Team Project</h2>
<p>
    Our team project is to modify the Contoso Crafts website into a reader-centric, subscription-based digital publishing platform.  In lieu of offering crafts or other products, the website will serve as a platform for authors of every ilk to publish informative articles, opinion pieces, as well as other written works without the intrusion of advertising and the omnipresent profiling and tracking of readers’ activity favored by other platforms.  This site is not intended to be yet another social media outlet where the personal life of the author is put on display for likes and follows, the content is intended to be of broader societal interest.  The site will contain author profiles and such, but those are intended to be informative and to substantiate for the reader why the author’s writings merit consideration.
</p>
<p>
    There are numerous avenues for future development and site enhancement to help readers get the most out of the site.  Tags can be appended to each published article to enable readers to find, filter, and follow related content.  The site can also utilize discerning content editors to curate collections of noteworthy articles.  These spotlight sections can be of personal interest to the individual editor across many different subject areas or, in the case of subject matter experts, can focus on a specific area of knowledge.  Articles can be promoted to the main website front page based on popularity, relevance to current events, or other criteria of benefit to the readership.  There are many more options beyond the scope and complexity intended for this course: authentication, high-profile guest writers, and other features you might expect from a fully-featured, market-ready website.
</p>