@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}home page
   

<h3>The biscuits may be undercooked, but the articles are spot on.</h3>
@(await Html.RenderComponentAsync<ArticleList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>